body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: white;
    padding: 20px;
}

header h1 {
    text-align: left;
    color: #333;
}

.main-news {
    display: flex;
    flex-direction: row;
    background: #eef0f1;
    padding: 15px;
    margin-bottom: 20px;
}

.main-news .main-image {
    width: 50%;
    height: auto;
    margin-right: 20px;
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-list {
    display: flex;
    justify-content: space-between;
}

/* Мобилдик түзмөктөр үчүн стилдер */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .main-news {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .main-news .main-image {
        width: 100%;
        margin: 0 auto 10px;
    }

    .news-list {
        flex-direction: column;
        align-items: center;
    }

    .news-item {
        width: 90%;
        margin-bottom: 15px;
    }
}
